---
title: "Publications"
permalink: /publications/
excerpt: "Journal articles, conference papers, and manuscripts by Mohammad Sadeghi."
---

<p>You can also find my publications on <a href="{{ site.author.googlescholar }}">Google Scholar</a>.</p>

<h2 id="journal-articles">Journal articles</h2>
<ol class="publication-list">
  {% for paper in site.data.publications.journals %}
    {% include publication-entry.html paper=paper %}
  {% endfor %}
</ol>

<h2 id="conference-papers">Conference papers</h2>
<ol class="publication-list">
  {% for paper in site.data.publications.conferences %}
    {% include publication-entry.html paper=paper %}
  {% endfor %}
</ol>

<h2 id="under-review">Under review</h2>
<ul class="publication-list">
  {% for paper in site.data.publications.submissions %}
    {% include publication-entry.html paper=paper %}
  {% endfor %}
</ul>
