{% include base_path %}
{% assign author = site.author %}
<div class="author-profile" itemscope itemtype="https://schema.org/Person">
  <div class="author__avatar">
    <img src="{{ '/images/' | append: author.avatar | relative_url }}" alt="{{ author.name }}" fetchpriority="high" width="900" height="1154" itemprop="image">
  </div>
  <div class="author__content">
    <h2 class="author__name" itemprop="name"><span class="name-given">{{ author.given_name | escape }}</span> <span class="name-family">{{ author.family_name | escape }}</span></h2>
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
    <p class="author__location"><i class="fas fa-fw fa-location-dot" aria-hidden="true"></i> {{ author.location }}</p>
  </div>
  <div class="author__urls-wrapper">
    <ul class="author__urls social-icons" aria-label="Contact and academic profiles">
      <li><a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i> Email</a></li>
      <li><a href="{{ author.googlescholar }}"><i class="ai ai-google-scholar ai-fw" aria-hidden="true"></i> Google Scholar</a></li>
      <li><a href="https://www.linkedin.com/in/{{ author.linkedin }}"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
      {% if author.github %}<li><a href="https://github.com/{{ author.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>{% endif %}
    </ul>
  </div>
</div>
